*{
  padding:0px;
  margin:0px;
  font-family: 'Popins', sans-serif;
  box-sizing: border-box;
}
.outer{
  display: flex;
  background-color: #0b131e;
}
.left{
  width: 50%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.appnm{
  color: whitesmoke;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}
.appnm img{
  width: 100%;
}
.right{
  width: 50%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  width: 100%;
  max-width: 470px;
  background-color: #202c3c;
  color: #fff;
  margin:30px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
}
.search{
  display: flex;
}
.search input{
  border: none;
  outline: none;
  background: #edfffc;
  color: #555;
  padding: 10px 25px;

  border-radius: 30px;
  flex: 1;
  margin-right: 10px;
  font-size: 18px;
}
.search button{
  border: 0;
  outline: 0;
  background: #edfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.search button img{
  width: 22px;
}
.weather-icon{
  width: 170px;
  margin-top: 30px;
}
.weather .temp{
  font-size: 80px;
  font-weight: 500;
}
.weather .city{
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}
.details{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20;
  margin-top: 50px;
}
.col{
  display: flex;
  align-items: center;
  text-align: left;
}
.col img{
  width: 40px;
  margin-right: 10px;
}
.humidity .wind{
  font-size: 28px;
  margin-top: -6px;
}
.weather{
  display: none;
}
.error{
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}